.sidebar {
    .navbar {
        .navbar-nav {
            .dropdown-item,
            .nav-link {
                &:hover,
                &.active {
                    border-color: #dc3545;
                    color:  #dc3545;
                    background-color: rgb(187, 192, 198);
                }
            }
       }
    
    }
}
