.sidebar {
    .navbar {
        .navbar-nav {
            .dropdown-item,
            .nav-link {
                &:hover,
                &.active {
                    border-color: #b33f15;
                    color: #1f2937;
                    background-color: #EDDBC0;;
                }
            }
       }
    
    }
}
